{% extends "layout.html" %}

{% block title %}
    {{ name }}
{% endblock %}

{% block main %}
    <h2>{{ name }}</h2>
    <div class="section">
        <a class="btn btn-primary" id="create-game">Create Game</a>    
        <div class="form-container hidden" id="create-game-desc">
            <form action="/create-game" method="post">
                <input type="text" placeholder="team1" name="team1">
                <input type="text" placeholder="team2" name="team2">
                <button type="submit" class="submit">OK</button>
            </form>
            <div>
                <p>Create a new game!</p>
            </div>
        </div>
    </div>
    
    <script src="/static/click-to-show-group.js"></script>

    <div> <!-- Container for grid? -->
        <div class="section"> <!-- Leaderboard -->
            <h4>Leaderboard</h4>
            <table>
                <thead>
                    <tr>
                        <td>Rank</td>
                        <td>Username</td>
                        <td>Points</td>
                    </tr>
                </thead>
                <tbody>
                    {% for rank in ranking %}
                        <tr>
                            <td>{{ rank.ranking }}</td>
                            <td>{{ rank.username }}</td>
                            <td>{{ rank.points }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="section"> <!--Upcoming Games-->
            <h4>Upcoming Games</h4>
            
            {% if not upcoming %}
                <p>
                    There are no upcoming games. Create one to make a guess with your friends!
                </p>
            {% else %}    
                <table>
                    <thead>
                        <tr>
                            <td>Team1</td>
                            <td>My guess</td>
                            <td>Team2</td>
                            <td>My guess</td>
                            <td>Make a guess</td>
                            <td>Post results</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for game in upcoming %}
                            <tr>
                                <td>{{ game.team1 }}</td>
                                <td>{% if game.bet1 %}
                                        {{ game.bet1 }}
                                    {% endif %}
                                </td>
                                <td>{{ game.team2 }}</td>
                                <td>{% if game.bet2 %}
                                        {{ game.bet2 }}
                                    {% endif %}
                                </td>
                                <td> <!--Make a guess!-->
                                    {% if not game.bet1 or not game.bet2 %}
                                    <form action="/guess" method="post">
                                        <input type="hidden" name="guess_game_id" value="{{ game.game_id }}">
                                        <input type="text" name="guess_team1" placeholder="Guess team1's score!" class="in-table">
                                        <input type="text" name="guess_team2" placeholder="Guess team2's score!" class="in-table">
                                        <button type="submit" class="submit">Make a guess</button>
                                    </form>
                                    {% endif %}
                                </td>
                                <td> <!--Post results-->
                                    <form action="/results" method="post">
                                        <input type="hidden" name="result_game_id" value="{{ game.game_id }}">
                                        <input type="text" name="result_team1" placeholder="Team1's result" class="in-table">
                                        <input type="text" name="result_team2" placeholder="Team2's result" class="in-table">
                                        <button type="submit" class="submit">Post results</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div> 

        <div class="section"><!--Game Results-->
            <h4>Game Results</h4>
            
            {% if not history %}
                <p>
                    There are no games with known results. Post results of each game to determine who had the best guesses!  
                </p>
            {% else %}
                <table>
                    <thead>
                        <td>Team1</td>
                        <td>Result (My guess)</td>
                        <td>Team2</td>
                        <td>Result (My guess)</td>
                        <td>Change results</td>
                    </thead>
                    <tbody>
                        {% for game in history %}
                            <tr>
                                <td>{{ game.team1 }}</td>
                                <td>{{ game.result1 }} ({{ game.bet1 }})</td>
                                <td>{{ game.team2 }}</td>
                                <td>{{ game.result2 }} ({{ game.bet2 }})</td>
                                <td> <!--Post results-->
                                    <form action="/results" method="post">
                                        <input type="hidden" name="result_game_id" value="{{ game.game_id }}">
                                        <input type="text" name="result_team1" placeholder="Team1's result" class="in-table">
                                        <input type="text" name="result_team2" placeholder="Team2's result" class="in-table">
                                        <button type="submit" class="submit">Post results</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>

    </div>
        

{% endblock %}
