{% extends "layout.html" %}

{% block title %}
    My Groups
{% endblock %}

{% block main %}
    <h2>My Groups</h2>
    {% for row in rows %}
        <div class="section">
            <form action="/groups" method="post">
                <input type="hidden" name="id" value="{{ row.id }}">
                <input type="hidden" name="name" value="{{ row.groupname }}">    
                <button type="submit" name="group" class="btn btn-primary">{{ row.groupname }}</button>
            </form>
        </div>      
    {% endfor %}
{% endblock %}
